@use "../../../../styles/variables" as v;

.our-instructure {
  --card-height: 380px;
  @include v.container-padding-box;
  &_container {
    @include v.flex-column(xl);
  }
  &_heading {
    @include v.flex-column(sm);
    :global(.box__title) h2 {
      @include v.typography-style(lg, main);
    }
  }
  &_education {
    @include v.grid-main(350px);
    [class*="card-"] {
      box-shadow: 0 1px 10px -4px rgba(0 0 0 / 0.5);
      border-radius: var(--border-radius-lg);
      @include v.animation-card;
    }

    .card-img {
      width: 100%;
      height: var(--card-height);
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        position: absolute;
      }
      &.item-1 {
        order: 1;
        background-color: #e8eaf6;
        // filter: blur(3px);
         img {
          object-position: center;
        }
      }
      &.item-3 {
        order: 3;
       
      }
      &.item-5 {
        order: 5;
      }
    }
    .card-text {
      height: var(--card-height);
      padding: var(--space-lg);
      background-color: var(--bg-color-default);
      @include v.flex-column(sm, center, center);
      p {
        text-align: center;
        width: 80%;
        @include v.typography-style(sm, main, text-color-substitute);
      }
      svg {
        width: 40px;
        height: 40px;
        color: var(--text-color-substitute);
      }
      span {
        @include v.typography-style(sm, main, text-color-grey);
        text-shadow: 2px 0px 1px rgba(135, 121, 121, 0.2);
      }
      &.item-2 {
        order: 2;
        @media (max-width: v.$width-xl) {
          order: 6;
        }
      }
      &.item-4 {
        order: 4;
        @media (max-width: v.$width-xl) {
          order: 2;
        }
      }
      &.item-6 {
        order: 6;
        @media (max-width: v.$width-xl) {
          order: 4;
        }
      }
    }
  }
}
