@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}
button {
  border: none;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  // overflow: hidden;
  font-family: Inter, "IBM Plex Sans Arabic", sans-serif;
  background-color: var(--bg-color-default);
}
#root {
  position: relative;
}
