@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}
button {
    border: none;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    // background-color: var(--bg-color-default);
    // overflow: hidden;
    font-family: Inter, "IBM Plex Sans Arabic", sans-serif;
}
