@use "../../../styles/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap");

.header {
  @include v.flex-row(space-between, center, 0);
  width: 95%;
  padding: var(--space-sm);
  height: 80px;
  margin: var(--space-sm) auto;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-header);
  font-family: "Cinzel", serif;
  background-color: var(--color-white);
  // تنسيقات الهيدر الخاصة بك (مثل display: flex; خلفية داكنة... إلخ)

  &_icon {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    .edction {
      color: var(--color-primary-hover);
      position: absolute;
      top: -7px;
      left: 20px;
    }

    .mainLogo {
      width: 170px;
      height: auto;
      overflow: hidden;

      g {
        fill: var(--btn-color);
      }
    }
  }
  &_nav {
    @include v.flex-row(center, center, sm);
    @media (max-width: v.$width-md) {
      display: none;
    }

    li {
      overflow: hidden;
      position: relative;
    }

    a {
      @include v.typography-style(sm, bold, text-color);
      display: inline-block; // تحويل العنصر ليقبل التعديلات على الأبعاد والتحويلات
      text-transform: capitalize;

      span {
        display: block;
        transition: transform var(--transition-main);
      }

      &::before {
        content: attr(data-element);
        position: absolute;
        top: 100%; // يضعه أسفل النص الأصلي تماماً
        left: 0;
        width: 100%;
        transition: transform var(--transition-main);
        color: var(--btn-color);
      }

      &:hover {
        span {
          transform: translateY(-100%);
        }
        &::before {
          transform: translateY(-100%);
        }
      }
    }
  }
}
