@use "../../../styles/variables" as bento;

.bento-container {
  @include bento.grid-main;

  // 1. قسم المقدمة
  .item-intro {
    h2 {
      color: var(--text-color-grey);
    }
    p {
      @include bento.typography-style(sm, sm, text-color-grey);
    }
  }

  // 2. قسم الخدمات
  .item-services {
    ul {
      @include bento.flex-column(sm);

      li {
        @include bento.flex-row(space-between, center, sm);
        @include bento.typography-style(sm, main, text-color);
      }
    }
  }

  // 3. قسم البيانات الإضافية
  .item-meta {
    @include bento.flex-column(sm);

    .rating {
      @include bento.flex-column(xs);
      p {
        color: var(--text-color)  
      }
    }

    .available {
      @include bento.flex-row(space-between, center, 0);

      &_left {
        @include bento.flex-row(flex-start, center, sm);
        > p {
          @include bento.typography-style(sm, main, text-color);
        }
      }

      &_right { // ✅ تم تصحيح الإملاء من _reight إلى _right
        @include bento.typography-style(sm, bold, text-color-grey);
      }
    }
  }

  // 4. قسم الزر التفاعلي وأنيميشن النص
  .item-availability {
    display: flex;
    align-items: flex-end; // التعبير الأدق في flex هو flex-end بدلاً من end

    a {
      width: 100%;
      background-color: var(--btn-color);
      padding: var(--space-xs); // ✅ تم التصحيح من border-radius إلى space-md
      border-radius: var(--border-radius-md);
      border: 2px dashed transparent;
      transition: var(--transition-main);
      @include bento.flex-row(space-between, center, 0);
    }
  }
}