@use "../../../../styles/variables" as service;
.service {
  @include service.container-padding-box;
  width: 100%;
  background-color: var(--bg-color-default);

  &_container {
    @include service.flex-column(md, center);
    // 1. نضمن أن العناصر داخل الحاوية تتمدد لتأخذ نفس الطول الكامل للحاوية
    align-items: stretch;
  }

  &_text-desc {
    @include service.flex-row(space-between, center, 0);
    @media (max-width: service.$width-xl) {
      flex-direction: column;
      align-items: start;
      gap: var(--space-md);
    }

    h2 {
      @include service.typography-style(xl, bold, heading-color);
      margin-bottom: var(--space-md);
      text-transform: capitalize;
      color: var(--heading-color);
    }
    p {
      width: 30%;
      @include service.typography-style(sm, main, text-color-grey);
      span {
        color: var(--border-color);
      }
      @media (max-width: service.$width-xl) {
        width: 70%;
      }
      @media (max-width: service.$width-sm) {
        width: 100%;
      }
    }
  }

  &_img {
    position: relative;
    border-radius: var(--border-radius-md);
    display: flex;
    gap: var(--space-sm);
    align-items: stretch;
    @media (max-width: service.$width-xxl) {
      flex-direction: column;
    }

    // 2. لمنع أي محتوى داخلي (الصورة) من تمديد الحاوية وإجبارها على الالتزام بالحدود

    &_box-img {
      width: 80%;
      overflow: hidden;
      max-height: 610px;
      @media (max-width: service.$width-xxl) {
        width: 100%;
        max-height: max-content;
      }

      img {
        // 3. نجعل الصورة تأخذ 100% من العرض والارتفاع المتاحين لها من الأب الداعم
        width: 100%;

        // 4. cover تضمن تغطية المساحة بالكامل بدون تشويه الأبعاد (تُقص الأطراف الزائدة تلقائيًا)
        object-fit: contain;

        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;

        /* منع تحديد الصورة أو النصوص المحيطة بها */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge القديم */
      }
    }
    &_specifications {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-md);
      .service_specifications-desc {
        font-size: calc(var(--font-size-sm) + 2px);
        font-weight: var(--font-weight-main);
        color: var(--text-color);
        @media (max-width: service.$width-xxl) {
          display: none;
        }
      }
    }
  }
}
