@use "../../../../styles/variables" as service;
.service {
  @include service.container-padding-box;
  width: 100%;
  background-color: var(--bg-color-default);

  &_container {
    @include service.flex-column(md, center);
    // 1. نضمن أن العناصر داخل الحاوية تتمدد لتأخذ نفس الطول الكامل للحاوية
  }
  [class*="service_item_"] {
    opacity: 0; // تبدأ العناصر مخفية
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; // الحفاظ على الحالة النهائية بعد انتهاء الحركة

    // احتساب التأخير تلقائياً:
    // العنصر الأول (index 0) -> 0 * 0.25s = 0s (يبدأ فوراً)
    // العنصر الثاني (index 1) -> 1 * 0.25s = 0.25s
    // العنصر الثالث (index 2) -> 2 * 0.25s = 0.5s
    animation-delay: calc(5.8s + var(--item-index) * 0.25s);
  }
  &_item_top-title {
    @include service.typography-style(sm, main, text-color);
    padding: var(--space-xxs) var(--space-sm);
    position: relative;
    display: inline-flex;
    cursor: pointer;
    border: 2px solid var(--text-color-grey-400);
    border-radius: var(--border-radius-xl);
  }
  &_item_heading-large {
    @include service.typography-style(lg, main, text-color);
    width: 50%;
    text-align: center;
    text-transform: capitalize;
  }
  &_item_description {
    @include service.typography-style(md, main, text-color-grey-400);
    width: 50%;
    text-align: center;
  }
  &_item_btn {
    @include service.flex-row(center, center, xxs);
  }
}

.fly-in-up {
  animation-name: flyInUp;
}

.blur-in {
  animation-name: blurIn;
}

.fade-in {
  animation-name: fadeIn;
}

@keyframes flyInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// الحركة الثانية: الظهور من الضبابية (Blur in)
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

// الحركة الثالثة: الظهور الناعم البسيط (Fade in)
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
