@use "../../../../styles/variables" as v;

.why-choose-us {
  @include v.container-padding-box(color-white);
  @include v.flex-column(lg);
  :global(.box) {
    justify-content: center;
  }
  :global(.box__title) h2 {
    @include v.typography-style(lg, main);
  }
  &_container {
    @include v.grid-main(375px);
  }
  &_card-us {
    @include v.flex-column(xs);
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease-out;
    padding: var(--space-sm);
    box-shadow: 0 5px 23px -11px rgba(0 0 0 / 0.5);
    border-radius: var(--border-radius-lg);

    &:global(.is-visible) {
      transform: translateY(0);
      opacity: 1;
    }

    .svg svg {
      width: 40px;
      height: 40px;
      color: var(--border-color);
    }
    .title {
      @include v.typography-style(md, main);
    }
    .description {
      @include v.typography-style(sm, main, text-color-grey);
    }
  }
}
