@use "../../../../styles/variables" as v;

.why-choose-us {
  @include v.container-padding-box(color-white);
  @include v.flex-column(lg);
  :global(.box) {
    justify-content: center;
  }
  :global(.box__title) h2 {
    @include v.typography-style(lg, main);
  }
  &_container {
    @include v.grid-main(375px);
    @include v.animation-main;
    opacity: 0;
    &.visible {
      animation: why-choose 0.2s 0.1s forwards;
    }
  }
  &_card-us {
    @include v.flex-column(xs);
    padding: 5px;
    .svg svg {
      width: 40px;
      height: 40px;
      color: var(--border-color);
    }
    .title {
      @include v.typography-style(md, main);
    }
    .description {
      @include v.typography-style(sm, main, text-color-grey);
    }
  }
}

@keyframes why-choose {
  0%,
  80% {
    opacity: 0;
  }
  80%,
  100% {
    opacity: 1;
  }
}
